.post-container {
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    width: 95%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .tweet6{
    margin: 50px auto;
    width: 50%;
    border: solid #214686;
    border-radius: 10px;
    text-align: center;
    background-color: #142a50;
  }
  usershowtitle {
    text-align: center;
    margin: 20px;
    width: 500px;
    margin: 0 auto;
}
.login{
  width: 40%;
  margin: 0 auto;
  margin-top:15px;
}
.a{
  padding: 30px 30px;
    width: 700px;
    background: white;
    margin-left: 400px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top:20px;
}
.field{
  margin: 0 auto;
  width: 300px;
}
.actions{
  margin: 0 auto;
  width: 320px;
}
.Sign-up{
  margin: 0 auto;
  width: 181px;
}

.moji{
  margin: 0 auto;
  width: 449px;
}

.field2{
  margin: 0 auto;
  width: 447px;
}
.field3{
  margin: 0 auto;
  width: 447px;

}