.a{
    padding: 30px 30px;
    width: 700px;
    background: white;
    margin-left: 400px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top:20px;
  }