.mypage{
    margin: 0 auto;
    width: 560px;
}

.photo{
    margin: 0 auto;
    width: 449px;
}
.profile{
    width: 449px;
    margin-top:-10%;
    margin-left:55%;
}
.hennsyuu{
    margin: 0 auto;
    width: 449px;
    margin-left: 55%;
}

.toukou{
    width: 43%;
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 40%;
}

