.mypage{
    margin: 0 auto;
    width: 560px;
}

.photo{
    margin: 0 auto;
    width: 80%;
}
.profile{
    width: 449px;
    margin-top:-10%;
    margin-left:35%;
}
.hennsyuu{
    margin: 0 auto;
    width: 449px;
    margin-left: 55%;
    margin-top: -44px;
}

.toukou{
    width: 43%;
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 40%;
}
.itiran{
    width: 43%;
    margin: 0 auto;
    margin-top: -43%;
    margin-left: 35%;
}
.tweetitiran{
    width: 43%;
    margin: 0 auto;
    margin-top: 30%;
    margin-right: 60%;
    
}


